body{
	margin: 0px auto;
}
#main_body{
	border: 1px solid yellow;
	height:200px;
}
#footer{
	border: 1px solid red;
	height:80px;
}
#main_box{
		border:2px solid green;
		width:1000px;
		margin:0px auto;
}
#header{
	height: 120px;
	border: 1px solid red;
	background-color: #e6e7fd;
}